body{
    font-family:"Montserrat";
}

#title{
    background-color:#ff4c68;
    color:#fff;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Montserrat-Bold";
}

h2{
    font-size:3rem;
    line-height: 1.5;
}



p{
    color:#8f8f8f;
}

/* Headings */
.bigheading{
    font-family: "Montserrat:Black900";
    font-size:3.5rem;
    line-height: 1.5;
}


.container-fluid{
    padding:3% 15% 7%;
}
.navbar{
    padding:0 0 4.5rem 0;
}
.navbar-brand{
    font-family: ubuntu;
    font-weight: bold;
    font-size:2.5rem;
    color:#fff;
}
.nav-item{
    color:#fff;
    padding:0 18px 0 18px;
}
.nav-link{
    color:#fff;
    font-size:1.2rem;
    font-family:"Montserrat"
}
.download-button{
    margin:5% 3% 5% 0;
}
.apple-logo{
    height:30px;
    width:30px;
}

/* Title image */
.title-image{
    width:60%;
    transform:rotate(25deg);
     position:absolute;
     right:20%;
     /* extra added */
     height:700px;
     width:350px;

     padding-top:0px;
     margin-top:0px;
    
}

/* features section */
#features{
  background-color:#fff;
  padding:6% 15%;
  position:relative;
  /* z-index:1; */
}

.feature-box{
    text-align:center;
    padding:5%;
}
.featimg{
    color:#ef8172;
    margin-bottom:1rem;
    height:50px;
    width:50px;
}
.featimg:hover{
    color:#ff4c68;
}

/* Testimonial section */

#testimonials{
    padding:6% 15%;
    text-align: center; 
    background-color: #ff4c68;
    coloR:#fff;
}


.testimonial-img{
    width:10%;
    border-radius: 100%;
    margin:20px;
}

.carousel-item{
    padding:7% 15%;
}

#press{
    background-color: #ff4c68;
    text-align:center;
    padding-bottom:3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}


/* Pricing Section */
#pricing{
    font-family:"Montserrat:Bold";
    padding:100px;
    text-align:center;
}
.pricing-col{
    font-family:"Montserrat:Black900"; ;
    padding:3% 2%;
}


/* Pricing cards */
.card-header{
    background-color: #ff4c68;
    text-align:center;
    color:white;
}

/* CTA */

#cta{
    background-color: #ff4c68;
    text-align:center;
    padding:7% 15%;
    color:white;
}

.ctaheading{
    font-family:"Montserrat-Black900";
    font-size:3.5rem;
    line-height:1.5;
}


/* Footer */

#footer{
    padding:7% 15%;
    text-align:center;
    background-color: #fff;
    font-family: "Montserrat-Black900";
}
.footerlogo{
    margin:20px 10px;
    height:30px;
    width:30px;
}

/* Media Query */

@media (max-width:1028px){
    #title{
        text-align:center;
    }
    .title-image{
       position:static;
       transform:rotate(0);
    }
}